:root {
	--background: white;
	--background-alt: #f2f2f2;
	--text: black;
	--text-alt: #999;
	--accent: rgb(210, 45, 100);
	--sidebar-accent: rgb(154 17 62);
	--header-accent: rgb(210, 45, 100);
	--meta-accent: rgb(210, 45, 100);
	--code: rgb(154 17 62);
	--code-bg: rgb(248 222 230);
	--blockquote: rgb(210, 45, 100);
}

html {
	background-color: var(--background);
	color: var(--text);
	font-family: sans-serif;
	font-family: "Georgia", "Garamond", serif;
	line-height: 1.8;
	font-size: 16px;
	font-smooth: always;
	-webkit-font-smooth: always;
}

.sidebar {
	width: 280px;
	float: left;
}

.sidebar a {
	color: var(--sidebar-accent);
}

main {
	max-width: 700px;
	float: right;
}

nav menu a {
	color: var(--header-accent);
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	text-decoration: none;
}

nav menu li {
	font-size: 1.2em;
}

#container {
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
}

#blog-header a {
	text-decoration: none;
	color: inherit;
}

footer {
	margin-top: 32px;
	text-align: center;
	clear: both;
}

menu {
	list-style: none;
	padding: 0;
}

menu li {
	display: inline;
}

#pagination {
	margin-top: 32px;
	margin-bottom: 32px;
	text-align: center;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

#pagination a {
	margin: 0 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.rect-section {
	border-width: 2px;
	background-image: linear-gradient(
		to right,
		var(--background-alt),
		var(--background)
	);
	color: var(--sidebar-accent);
	padding: 2px 8px;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.permalink {
	color: var(--meta-accent);
	text-decoration: none;
	font-weight: bold;
}

a {
	color: var(--accent);
}

h1 {
	font-weight: 600;
	line-height: 1.2;
}

h2 {
	font-weight: 500;
}

h3,
h4,
h5,
h6 {
	font-weight: 400;
}

article {
	margin: 32px 0 64px 0;
}

article header {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

article header h1 a {
	color: inherit;
	font-size: 1.2em;
	text-decoration: none;
}

article header h1 {
	margin-block-end: 0.2em;
}

article header time {
	color: var(--text-alt);
	font-weight: 600;
}

body > header {
	text-align: center;
}

#blog-header h1 {
	font-size: 2.8em;
	font-weight: 800;
	padding-bottom: 0px;
}

menu li:after {
	content: " | ";
	color: var(--background-alt);
}

menu li:last-child:after {
	content: "";
}

article {
	margin: 32px 0 64px 0;
}

.microblog_conversation {
	margin: 16px 0;
}

.microblog_post {
	padding-top: 16px;
	margin: 16px 0;
	border-top: 1px solid var(--background-alt);
}

.microblog_avatar {
	border-radius: 1em;
	border-width: 2px;
}

.microblog_time a {
	color: var(--text-alt);
}

.bookshelf_book {
	min-height: 140px;
	margin-top: 4px;
	margin-bottom: 8px;
}

.bookshelf_book img {
	min-height: 100px;
	width: 80px !important;
	min-width: 80px !important;
	max-height: 140px !important;
	margin-right: 8px;
	padding-right: 0 !important;
	border-radius: 6px !important;
	background-color: var(--background-alt);
	justify-content: center;
}

.bookshelf_author {
	color: var(--text-alt);
	font-weight: 500;
	font-size: 1em;
}

.bookshelf_title {
	font-weight: 600;
	font-size: 1em;
}

hr {
	border-color: var(--accent);
}

img,
video,
iframe {
	max-width: 100%;
	height: auto;
}

blockquote {
	border-left: 4px solid var(--blockquote);
	padding-left: 1em;
	margin-left: 1em;
}

code {
	color: var(--code);
	background-color: var(--code-bg);
	padding: 3px;
	border-radius: 0.4em;
	font-size: 16px;
}

pre {
	background-color: var(--code-bg);
	border-radius: 0.4em;
}

pre code {
	background-color: inherit;
}

@media only screen and (max-width: 1000px) {
	.sidebar {
		float: none;
		width: auto;
	}

	main {
		float: none;
		width: auto;
		margin-left: 16px;
		margin-right: 16px;
	}
}

