<nav class="sidebar h-card">
	<details open>
		<summary class="rect-section">about me</summary>
		<p>
			<img
				src="https://micro.chrishannah.me/uploads/2022/70923d59de.jpg"
				width="120"
				height="120"
				class="u-logo u-photo"
			/>
		</p>
		<a class="p-name u-url" href="https://chrishannah.me" hidden
			>Chris Hannah</a
		>
		<p class="p-note p-role">
			I build things with code, and occasionally blog.
		</p>
	</details>
	<details open>
		<summary class="rect-section">writing</summary>
		<p>
			You can find me writing here on this blog, on my
			<a href="#"><em>main</em> blog</a>, my <a href="#">dev blog</a>, and
			then of course on Twitter at <a href="#">@chrishannah</a>.
		</p>
	</details>
	<details open>
		<summary class="rect-section">code</summary>
		<p>
			As for my code, all of my public work is hosted on
			<a href="#">GitHub</a>, and I also develop
			<a href="#">Text Case</a>, a text transformation app for iOS and
			macOS.
		</p>
	</details>
	<details open>
		<summary class="rect-section">contact</summary>
		<p>
			If you want to get in touch, I'd recommend
			<a href="#">Twitter</a> or if it's a longer message, then
			<a href="#">email</a> would be best.
		</p>
	</details>
</nav>
