<nav class="sidebar">
	<p class="rect-section">about me</p>
	<img
		src="/images/avatar.jpeg"
		width="100"
		height="100"
	/>
	<p>I build things with code, and occasionally blog.</p>
	<p class="rect-section">writing</p>
	<p>
		You can find me writing here on this blog, on my
		<a href="#"><em>main</em> blog</a>, my
		<a href="#">dev blog</a>, and then of course on Twitter at
		<a href="#">@chrishannah</a>.
	</p>
	<p class="rect-section">code</p>
	<p>
		As for my code, all of my public work is hosted on
		<a href="#">GitHub</a>, and I also develop
		<a href="#">Text Case</a>, a text transformation app for iOS
		and macOS.
	</p>
	<p class="rect-section">contact</p>
	<p>
		If you want to get in touch, I'd recommend
		<a href="#">Twitter</a> or if it's a longer message, then
		<a href="#">email</a> would be best.
	</p>
</nav>